{% extends 'base_generic.html' %}

{% block content %}
  <h1>  PASSWORD CHARGE FORM HTML </h1>

  <h2>Alteração de senha</h2>
  <p>Por favor, digite sua senha antiga, por motivos de segurança, e depois digite sua nova senha duas vezes para que possamos verificar se você a digitou corretamente.</p>


  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Enviar</button>

    <br><br>

    <p>
      <a href="{ urls 'login' }">Login</a>
    </p> 
  </form>

{% endblock %}

